.search-result-wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.search-result-details-wrapper {
    position: relative;
    margin: 10px 0;
}

.search-result-title {
    font-size: 16px;
    font-weight: 500;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-result-subtitle {
    font-size: 14px;
    color: grey;
    font-weight: 500;
}

.search-result-details {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    color: grey;
}

.search-result-price {

}

.search-result-period {
    font-size: 14px;
}

.search-result-rating {
    position: absolute;
    top: 0;
    right: 0;
}

.search-result-rating:hover {
    opacity: 0.7;
}

.search-result-rating-reviews {
    font-size: 12px;
    color: grey;
    margin-left: 6px;
}

.search-result-rating-image {
    margin-right: -6px;
}

.search-result-image-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.search-result-image-container:hover {
    opacity: 0.9;
}

.search-result-image {
    z-index: -1;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.search-result-image-next {
    position: absolute!important;
    top: calc(50% - 20px);
    right: 5px;
    background-color: rgba(240, 240, 240, 0.4) !important;
}

.search-result-image-previous {
    position: absolute!important;
    top: calc(50% - 20px);
    left: 5px;
    background-color: rgba(240, 240, 240, 0.4) !important;
}

.search-result-image-next:hover, .search-result-image-previous:hover {
    background-color: rgba(240, 240, 240, 0.8) !important;
}

.search-result-wrapper:hover {
    border: 1px solid #e0e0e0;
    padding: 4px;
}


.search-result-score {
    white-space: nowrap;
    position: absolute !important;
    padding: 8px 0;
    min-width: 200px;
    transform: rotate(-45deg) translate(-37%, 0);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
    box-sizing: border-box;
    background-color: #01aac1bd;
    font-weight: 900;
    font-size: 12px;
}