.search-result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result-navigation-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-result-container {
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.search-result-previous, .search-result-next {
    height: 100%;
    min-width: 35px !important;
    padding-left: 0;
    padding-right: 0;
}

.search-result-image-container {
    display: flex;
    padding: 2px;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.search-result-image {
    z-index: -1;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.search-result-score {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 10px;
    right: 50px;
}

.search-result-info-container {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-result-name {
    font-size: 18px;
    font-weight: 500;
}

.search-result-location {
    font-size: 14px;
    color: grey;
    font-weight: 500;
}

.search-result-details-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}

.search-result-booking-logo {
    width: 150px;
}

.search-result-details-deal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result-details-rating {

}

.search-result-rating-stars {
    white-space: nowrap;
}

.search-result-rating-display {
    color: grey;
    font-size: 14px;
}

.search-result-price {
    margin-top: 15px;
    font-size: 22px;
}


.search-result-button {
    width: 130px;
    height: 40px;
    color: white !important;
}

.search-result-star {

}

.navigation-wrapper {
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    .search-result-details-wrapper {
        #flex-direction: column;
    }

    .search-result-image-container {
        max-height: 300px;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .search-result-image-container {
        max-height: 170px;
    }
}