.dates-picker {
    width: 100%;
    margin-bottom: 20px;
}

.date-field {
    width: 100%;
}

.controls-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.control-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 !important;
}