.companions-select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.companions-select-child-age-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.companions-select-adults {
    width: 70px!important;
}

.companions-select-rooms {
    width: 70px!important;
}

.companions-select-children {
    width: 70px!important;
}

.companion-select-add-child {
    min-width: 40px !important;
    height: 40px !important;
}