.locations-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0 0 0;
  padding: 0;
}

.location-hotel {
  max-width: 800px !important;
  align-self: flex-end;
  width: 100% !important;
}

.location-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 20px 0 !important;
}

.location-start-icon {
  margin-left: 12px;
  margin-right: 12px;
}

.location-option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-option-image {
  width: 70px;
  height: 50px;
  border-radius: 5px;
}

.location-wrapper-text {
  margin-left: 10px;
}

.location-wrapper-title {
  font-size: 14px;
  font-weight: 600;
}

.location-wrapper-subtitle {
  font-size: 12px;
  color: grey;
}

.location-option-icon {
  margin-right: 12px;
  width: 20px!important;
  height: 20px!important;
}

@media only screen and (max-width: 1024px){
  .location-label {
    align-items: flex-start !important;
  }

  .location-label > span {
    margin-bottom: 10px;
  }

  .location-hotel {
    align-self: flex-start;
    max-width: 100% !important;
  }
}