.navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.navigation-next {
    width: 170px;
    height: 50px;
    color: white !important;
}

.navigation-back {
    padding-left: 0 !important;
}

.navigation-back:hover {
    background: transparent !important;
}

@media only screen and (max-width: 1024px){
    .navigation-wrapper {
        margin-bottom: 30px;
    }
}