.search-assistant-step-component {
    flex-grow: 1;
}

.search-assistant-companions-wrapper {
    width: 100%;
    position: absolute;
    bottom: 80px;
}

.search-assistant-companions-select {
    margin-left: auto;
    margin-right: auto;
}

.react-datepicker-popper {
    inset: auto auto 80px calc(50% - 120px) !important;
    transform: unset !important;
}