.search-assistant-step-component {
    flex-grow: 1;
}

.search-assistant-companions-wrapper {
    width: 100%;
    position: absolute;
    bottom: 80px;
    left: -50vw;
    z-index: 100;
}

.search-assistant-companions-select {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.search-assistant-dates-select {
    inset: auto auto 80px -50vw !important;
    transform: unset !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: rgba(1, 170, 193, 0.1) !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start .react-datepicker__day--selecting-range-end {
    background-color: #01aac1 !important;
}

.react-datepicker__header {
    background-color: transparent;
}

.search-assistant-companions-select .MuiInputBase-root {
    padding-right: 6px !important;
}
